* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ;
}

body {
    background-color: #AC53B9; 
    padding: 25px;
}

.barra-menu {
    display: flex;
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 5px 15px;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.barra-menu a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    padding: 15px 35px ;
    font-weight: bold;
    text-align: center;
}

.botones {
    background-color: #AC53B9;
    border-radius: 20px;
    margin-left: 20px;
}

.recuadro {
    background-color: #D9D9D9;
    border-radius: 14px;
    padding: 25px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;

}
.recuadro-footer{
    background-color: #D9D9D9;
    border-radius: 14px;
    padding: 25px;
    margin-bottom: 20px;
    font-size: 30px;
    margin-bottom: 5px;
}

.recuadro img {
    padding: 15px;
    height: 300px;
    border-radius: 50px;
}

.recuadro ul a.botones {
    background-color: 66008E;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 150px;
    text-decoration: none;
    font-weight: bold;
}
.recuadro img.tipos {
    width: 98%; 
    height: 800px; 
    display: block; 
    margin-left: auto;
    margin-right: auto;
}
