* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ;
}

body {
    background-color: #AC53B9; 
    padding: 25px;
}

.barra-menu {
    display: flex;
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 5px 15px;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.barra-menu a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    padding: 15px 35px ;
    font-weight: bold;
    text-align: center;
}

.botones {
    background-color: #AC53B9;
    border-radius: 20px;
    margin-left: 20px;
}

.recuadro {
    background-color: #D9D9D9;
    border-radius: 14px;
    padding: 25px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;

}

.recuadro-footer{
    background-color: #D9D9D9;
    border-radius: 14px;
    padding: 25px;
    margin-bottom: 20px;
    font-size: 30px;
    margin-bottom: 5px;
}
.recuadro img.foto1{
    width: 800px; 
    height: 450px; 
    display: block; 
}
.recuadro img.foto2{
    width: 800px; 
    height: 450px; 
    display: block; 
}


